

{{ define "title" -}}
{{ .Title | title }}
{{- end }}
{{ define "main" -}}
{{ .Content }}
<div class="row">
  <img src="/Profile_photo.jpeg" alt="Girl in a jacket" style="width:32%"> 
  <img src="Image_1.jpeg" alt="Forest" style="width:32%">
<img src="Image_2.jpeg" alt="Forest" style="width:32%">
</div>



<ul>
{{- range.Pages }}
<li>
	<a href="{{ .RelPermalink }}">{{ .Title }}</a>
	{{- if .Param "authorsinlist" }}
	{{ with .Params.authors }}
		by 
		{{ delimit . ", " " and " }}
	{{end}}
	{{ end -}}
</li>
{{- end }}
</ul>
<p>
Kirti Prasad "Aarohi" started writing quite early way back when Dhe was just in school. One of her poems 'I was Asked' was recognised by the Poetry Society of India and found a place in their anthology published in 2001.
<br>
</p>
<p>
She studied in Christ Church Girls Senior Secondary School, Jabalpur, Became an Electronics Engineering Graduate from S.S.G.B.C.O.E.T., Bhusawal, Maharashtra and earned a P.G.D.M from New Delhi Institute of Management, New Delhi.
</p>
{{- end }}
